<!DOCTYPE html>
<html>
<head>
	
  <!-- <%= render :partial => 'charts' %> -->

  <title>Commerce</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.5.2", "rails", "highcharts" %>
  <%= csrf_meta_tag %>

</head>
<body>

	<p class="notice">
		<%= notice %>
	</p>

	<p class="alert">
		<%= alert %>
	</p>

  <div id='body_container'>
		
		<div class="header">
			<% if user_signed_in? %>
				Welcome <%= current_user.name %>, not you? 
								<%= link_to 'Logout', destroy_user_session_path %> |
								<%= link_to 'View Orders', orders_path %> |
								<%= link_to 'Home', root_path %>
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> |
				<%= link_to "Sign up", new_user_registration_path %>
			<% end %>
		</div>

    <%= yield %>
  </div>
</body>
</html>
